.wrapper {
  padding-top: 143px;
}
.wrapper .image {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8))), url(../images/2.jpeg);
  background-image: linear-gradient(to bottom rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.wrapper .image .image-title {
  margin: 0 auto;
  padding-left: 50px;
  position: absolute;
  bottom: 0;
}
.wrapper .image .image-title .num {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #ffd140;
  line-height: 0;
  margin-right: 50px;
}
.wrapper .image .image-title .dot {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #ffd140;
  line-height: 0;
}
.wrapper .image .image-title .text {
  margin-left: 0px;
  font-family: gillsans-reg;
  font-size: 140px;
  color: #ffd140;
  line-height: 0;
}
.wrapper .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper .image .image-title .num {
    font-size: 150px;
  }
  .wrapper .image .image-title .dot {
    font-size: 150px;
  }
  .wrapper .image .image-title .text {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper .paragraphs .col {
    padding: 10px;
  }
}