* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gillsans-reg;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans.otf);
}
@font-face {
  font-family: gillsans-bold;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: gillsans-light;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: gillsans-italic;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: gillsans-light-italic;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans\ Light\ Italic.otf);
}
@font-face {
  font-family: gillsans-semibold-italic;
  src: url(fonts/Gill-Sans-Font-Family/Gill\ Sans\ Medium\ Italic.otf);
}
@font-face {
  font-family: ptserif-reg;
  src: url(fonts/PTSerif-Regular.ttf);
}
.nav-wrapper {
  height: 90px;
  width: 100%;
  position: fixed;
}
.nav-wrapper nav {
  max-width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrapper nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #fff;
}
.nav-wrapper nav .logo span {
  position: absolute;
  left: -2px;
  bottom: -9px;
  color: #fff;
  font-size: 20px;
  font-family: gillsans-reg;
}
.nav-wrapper .links {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-wrapper .links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: gillsans-reg;
}
.nav-wrapper .links span {
  color: #ee4367;
}

@media only all and (max-width: 980px) {
  .nav-wrapper nav {
    padding: 0 20px;
  }
}
@media only all and (max-width: 750px) {
  .nav-wrapper nav {
    padding: 0 10px;
  }
}
.hero {
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.65)), to(rgba(255, 209, 64, 0.65))), url(../images/home-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .centered-content {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}
.hero .centered-content .heading {
  color: #fff;
  font-size: 40px;
  font-family: ptserif-reg;
}
.hero .centered-content .heading2 {
  font-size: 20px;
  color: #ee4367;
  font-family: gillsans-italic;
}
.hero .centered-content p {
  font-size: 20px;
  color: #fff;
  font-family: gillsans-italic;
}
.hero .centered-content .read-more {
  width: 122px;
  height: 40px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .centered-content .read-more span {
  color: #fff;
  font-size: 15px;
  font-family: gillsans-reg;
  margin-top: 4px;
}

.quote {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote .content {
  width: 790px;
  height: 90px;
}
.quote .content .quote-text {
  font-size: 15px;
  font-family: gillsans-semibold-italic;
  color: #ffd140;
}
.quote .content .author {
  font-size: 15px;
  font-family: ptserif-reg;
  color: #ee4367;
  margin-bottom: 0;
}
.quote .content .title {
  font-size: 10px;
  font-family: ptserif-reg;
  color: #a8a8a8;
}

@media (max-width: 790px) {
  .quote .content {
    padding: 40px;
  }
}
.upcoming-events {
  background-color: #540d6e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
}
.upcoming-events .title {
  width: 392px;
  height: 35px;
  color: #fff;
  border-bottom: solid 2px #fff;
  padding-bottom: 50px;
}
.upcoming-events .title .title-text {
  font-size: 25px;
  font-family: gillsans-reg;
}
.upcoming-events .events {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.upcoming-events .events .event {
  width: 210px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.upcoming-events .events .event .date {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.upcoming-events .events .event .date span {
  margin-top: 10px;
  font-size: 22px;
  font-family: gillsans-bold;
}
.upcoming-events .events .event .date .date {
  margin-top: -9px;
  margin-bottom: -5px;
  font-size: 12px;
  font-family: gillsans-light;
}
.upcoming-events .events .event .event-detail {
  width: 140px;
}
.upcoming-events .events .event .event-detail .highlight {
  font-size: 15px;
  font-family: gillsans-reg;
  color: #fff;
}
.upcoming-events .events .event .event-detail .details {
  font-size: 13px;
  font-family: gillsans-reg;
  color: #ee4367;
}

@media (max-width: 1140px) {
  .upcoming-events .events {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .upcoming-events .events .event {
    margin-bottom: 20px;
  }
}
footer {
  height: 455px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #fff;
}
footer .logo span {
  position: absolute;
  left: -2px;
  bottom: -9px;
  color: #fff;
  font-size: 20px;
  font-family: gillsans-reg;
}
footer .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}
footer .contact-info .address {
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .contact-info .phone {
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .contact-info .email {
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .signup input {
  height: 100%;
  width: 529px;
  background-color: #f56b88;
  border: none;
  color: #fc9eb2;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup ::-webkit-input-placeholder {
  color: #fc9eb2;
  opacity: 1;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup ::-moz-placeholder {
  color: #fc9eb2;
  opacity: 1;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup :-ms-input-placeholder {
  color: #fc9eb2;
  opacity: 1;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup ::-ms-input-placeholder {
  color: #fc9eb2;
  opacity: 1;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup ::placeholder {
  color: #fc9eb2;
  opacity: 1;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .signup .button {
  height: 100%;
  width: 167px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
}
footer .signup .button span {
  margin-top: 5px;
  color: #ee4367;
  font-size: 16px;
  font-family: gillsans-reg;
}
footer .socials {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .copyright {
  color: #fc9eb2;
  font-size: 12px;
  font-family: gillsans-reg;
}

@media (max-width: 900px) {
  footer {
    padding: 40px;
  }
  footer .signup {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about-wrapper {
  padding-top: 180px;
}
.about-wrapper .about-hero {
  padding-top: 180px;
  max-width: 980px;
  height: 379px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.65)), to(rgba(255, 209, 64, 0.65))), url(../images/about.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-wrapper .history {
  max-width: 980px;
  min-height: 378px;
  margin: -25px auto 0 auto;
}
.about-wrapper .history .history-title {
  text-transform: uppercase;
  font-family: gillsans-reg;
  font-size: 25px;
  border-bottom: solid 2px #000;
  padding-right: 30px;
  padding-bottom: 15px;
}
.about-wrapper .history p {
  margin-top: 50px;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #707070;
}

@media (max-width: 980px) {
  .about-wrapper .history p {
    padding: 10px;
  }
}
.black-nav-wrapper {
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.black-nav-wrapper nav {
  width: 100%;
}
.black-nav-wrapper nav .black-nav {
  max-width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid 2px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.black-nav-wrapper nav .black-nav .black-logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #000;
}
.black-nav-wrapper nav .black-nav .black-logo span {
  position: absolute;
  left: -2px;
  bottom: -9px;
  color: #000;
  font-size: 20px;
  font-family: gillsans-reg;
}
.black-nav-wrapper nav .black-nav .black-links {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.black-nav-wrapper nav .black-nav .black-links a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-family: gillsans-reg;
}
.black-nav-wrapper nav .black-nav .black-links span {
  color: #ee4367;
}

@media only all and (max-width: 980px) {
  .black-nav-wrapper nav .black-nav {
    padding: 0 20px;
  }
}
@media only all and (max-width: 750px) {
  .black-nav-wrapper nav .black-nav {
    padding: 0 10px;
  }
}
.gallery {
  padding-top: 150px;
  max-width: 980px;
  margin: 0 auto;
}
.gallery span {
  font-family: gillsans-reg;
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: solid 2px #000;
  padding-right: 30px;
  padding-bottom: 15px;
}
.gallery .gallery-images {
  margin-top: 30px;
  margin-bottom: 70px;
}
.gallery .gallery-images .row-one {
  padding-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.gallery .gallery-images .row-one .pic-one {
  height: 187px;
  width: 498px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.65))), url(../images/1.png);
  background-image: linear-gradient(to bottom rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-images .row-one .pic-two {
  height: 187px;
  width: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.65))), url(../images/2.jpeg);
  background-image: linear-gradient(to bottom rgba(238, 67, 103, 0.65), rgba(238, 67, 103, 0.65)), url(../images/2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-images .row-one .pic-three {
  height: 187px;
  width: 265px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.65))), url(../images/3.jpg);
  background-image: linear-gradient(to bottom rgba(8, 173, 105, 0.65), rgba(8, 173, 105, 0.65)), url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-images .row-two {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .gallery-images .row-two .pic-four {
  height: 306px;
  width: 603px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.65))), url(../images/4.jpg);
  background-image: linear-gradient(to bottom rgba(84, 13, 110, 0.65), rgba(84, 13, 110, 0.65)), url(../images/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .gallery-images .row-two .pic-five {
  height: 306px;
  width: 355px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.65))), url(../images/5.png);
  background-image: linear-gradient(to bottom rgba(59, 206, 171, 0.65), rgba(59, 206, 171, 0.65)), url(../images/5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-links a {
  font-family: gillsans-reg;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

@media (max-width: 980px) {
  .gallery span {
    margin-left: 20px;
  }
  .gallery .gallery-images .row-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .gallery-images .row-one .pic-one {
    margin-bottom: 20px;
    width: 600px;
  }
  .gallery .gallery-images .row-one .pic-two {
    margin-bottom: 20px;
    width: 600px;
  }
  .gallery .gallery-images .row-one .pic-three {
    margin-bottom: 20px;
    width: 600px;
  }
  .gallery .gallery-images .row-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .gallery-images .row-two .pic-four {
    margin-bottom: 20px;
    width: 600px;
  }
  .gallery .gallery-images .row-two .pic-five {
    margin-bottom: 20px;
    width: 600px;
  }
}
.wrapper {
  padding-top: 143px;
}
.wrapper .image {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.65))), url(../images/1.png);
  background-image: linear-gradient(to bottom rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.wrapper .image .image-title {
  margin: 0 auto;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}
.wrapper .image .image-title .num {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #ffd140;
  line-height: 0;
  margin-right: 50px;
}
.wrapper .image .image-title .dot {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #ffd140;
  line-height: 0;
}
.wrapper .image .image-title .text {
  margin-left: 0px;
  font-family: gillsans-reg;
  font-size: 140px;
  color: #ffd140;
  line-height: 0;
}
.wrapper .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper .image .image-title .num {
    font-size: 150px;
  }
  .wrapper .image .image-title .dot {
    font-size: 150px;
  }
  .wrapper .image .image-title .text {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper .paragraphs .col {
    padding: 10px;
  }
}
.wrapper2 {
  padding-top: 143px;
}
.wrapper2 .image2 {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.65))), url(../images/2.jpeg);
  background-image: linear-gradient(to bottom rgba(238, 67, 103, 0.65), rgba(238, 67, 103, 0.65)), url(../images/2.jpeg);
  background-size: cover;
  background-position: -20px;
  background-repeat: no-repeat;
}
.wrapper2 .image2 .image-title2 {
  margin: 0 auto;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
}
.wrapper2 .image2 .image-title2 .num2 {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #ee4367;
  line-height: 0;
  margin-right: 0px;
}
.wrapper2 .image2 .image-title2 .dot2 {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #ee4367;
  line-height: 0;
  margin-right: 40px;
}
.wrapper2 .image2 .image-title2 .text2 {
  margin-left: 0px;
  font-family: gillsans-reg;
  font-size: 140px;
  color: #ee4367;
  line-height: 0;
}
.wrapper2 .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper2 .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper2 .image2 .image-title2 .num2 {
    font-size: 150px;
  }
  .wrapper2 .image2 .image-title2 .dot2 {
    font-size: 150px;
  }
  .wrapper2 .image2 .image-title2 .text2 {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper2 .paragraphs .col {
    padding: 10px;
  }
}
.wrapper3 {
  padding-top: 143px;
}
.wrapper3 .image3 {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.65))), url(../images/3.jpg);
  background-image: linear-gradient(to bottom rgba(8, 173, 105, 0.65), rgba(8, 173, 105, 0.65)), url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.wrapper3 .image3 .image-title3 {
  margin: 0 auto;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}
.wrapper3 .image3 .image-title3 .num3 {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #08ad69;
  line-height: 0;
  margin-right: 50px;
}
.wrapper3 .image3 .image-title3 .dot3 {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #08ad69;
  line-height: 0;
}
.wrapper3 .image3 .image-title3 .text3 {
  margin-left: 20px;
  font-family: gillsans-reg;
  font-size: 140px;
  color: #08ad69;
  line-height: 0;
}
.wrapper3 .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper3 .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper3 .image3 .image-title3 .num3 {
    font-size: 150px;
  }
  .wrapper3 .image3 .image-title3 .dot3 {
    font-size: 150px;
  }
  .wrapper3 .image3 .image-title3 .text3 {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper3 .paragraphs .col {
    padding: 10px;
  }
}
.wrapper4 {
  padding-top: 143px;
}
.wrapper4 .image4 {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.65))), url(../images/4.jpg);
  background-image: linear-gradient(to bottom rgba(84, 13, 110, 0.65), rgba(84, 13, 110, 0.65)), url(../images/4.jpg);
  background-size: cover;
  background-position: -20px;
  background-repeat: no-repeat;
}
.wrapper4 .image4 .image-title4 {
  margin: 0 auto;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
}
.wrapper4 .image4 .image-title4 .num4 {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #540d6e;
  line-height: 0;
  margin-right: 0px;
}
.wrapper4 .image4 .image-title4 .dot4 {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #540d6e;
  line-height: 0;
  margin-right: 40px;
}
.wrapper4 .image4 .image-title4 .text4 {
  margin-left: 0px;
  font-family: gillsans-reg;
  font-size: 115px;
  color: #540d6e;
  line-height: 0;
}
.wrapper4 .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper4 .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper4 .image4 .image-title4 .num4 {
    font-size: 150px;
  }
  .wrapper4 .image4 .image-title4 .dot4 {
    font-size: 150px;
  }
  .wrapper4 .image4 .image-title4 .text4 {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper4 .paragraphs .col {
    padding: 10px;
  }
}
.wrapper5 {
  padding-top: 143px;
}
.wrapper5 .image5 {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.65))), url(../images/5.png);
  background-image: linear-gradient(to bottom rgba(59, 206, 171, 0.65), rgba(59, 206, 171, 0.65)), url(../images/5.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper5 .image5 .image-title5 {
  margin: 0 auto;
  padding-left: 5px;
  position: absolute;
  bottom: 0;
}
.wrapper5 .image5 .image-title5 .num5 {
  font-family: gillsans-reg;
  font-size: 300px;
  text-transform: uppercase;
  color: #3bceab;
  line-height: 0;
  margin-right: 0px;
}
.wrapper5 .image5 .image-title5 .dot5 {
  font-family: gillsans-reg;
  font-size: 300px;
  color: #3bceab;
  line-height: 0;
  margin-right: 40px;
}
.wrapper5 .image5 .image-title5 .text5 {
  margin-left: 0px;
  font-family: gillsans-reg;
  font-size: 115px;
  color: #3bceab;
  line-height: 0;
}
.wrapper5 .paragraphs {
  margin: 0 auto;
  max-width: 980px;
  height: 200px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper5 .paragraphs .col {
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: gillsans-light-italic;
  font-size: 16px;
  color: #000;
}

@media (max-width: 950px) {
  .wrapper4 .image4 .image-title4 .num4 {
    font-size: 150px;
  }
  .wrapper4 .image4 .image-title4 .dot4 {
    font-size: 150px;
  }
  .wrapper4 .image4 .image-title4 .text4 {
    font-size: 70px;
  }
}
@media (max-width: 980px) {
  .wrapper5 .paragraphs .col {
    padding: 10px;
  }
}