.about-wrapper {
  padding-top: 180px;
  .about-hero {
    padding-top: 180px;
    max-width: 980px;
    height: 379px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 209, 64, 0.65),
        rgba(255, 209, 64, 0.65)
      ),
      url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .history {
    max-width: 980px;
    min-height: 378px;
    margin: -25px auto 0 auto;

    .history-title {
      text-transform: uppercase;
      font-family: gillsans-reg;
      font-size: 25px;
      border-bottom: solid 2px #000;
      padding-right: 30px;
      padding-bottom: 15px;
    }

    p {
      margin-top: 50px;
      font-family: gillsans-light-italic;
      font-size: 16px;
      color: #707070;
    }
  }
}

@media (max-width: 980px) {
  .about-wrapper {
    .history {
      p {
        padding: 10px;
      }
    }
  }
}
