.wrapper3 {
  padding-top: 143px;

  .image3 {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
    height: 400px;
    background-image: linear-gradient(
        to bottom rgba(8, 173, 105, 0.65),
        rgba(8, 173, 105, 0.65)
      ),
      url(../images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .image-title3 {
      margin: 0 auto;
      padding-left: 10px;
      position: absolute;
      bottom: 0;

      .num3 {
        font-family: gillsans-reg;
        font-size: 300px;
        text-transform: uppercase;
        color: #08ad69;
        line-height: 0;
        margin-right: 50px;
      }

      .dot3 {
        font-family: gillsans-reg;
        font-size: 300px;
        color: #08ad69;
        line-height: 0;
      }

      .text3 {
        margin-left: 20px;
        font-family: gillsans-reg;
        font-size: 140px;
        color: #08ad69;
        line-height: 0;
      }
    }
  }

  .paragraphs {
    margin: 0 auto;
    max-width: 980px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .col {
      max-width: 450px;
      flex: 1;
      font-family: gillsans-light-italic;
      font-size: 16px;
      color: #000;
    }
  }
}

@media (max-width: 950px) {
  .wrapper3 {
    .image3 {
      .image-title3 {
        .num3 {
          font-size: 150px;
        }
        .dot3 {
          font-size: 150px;
        }
        .text3 {
          font-size: 70px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .wrapper3 {
    .paragraphs {
      .col {
        padding: 10px;
      }
    }
  }
}
