.wrapper2 {
  padding-top: 143px;

  .image2 {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
    height: 400px;
    background-image: linear-gradient(
        to bottom rgba(238, 67, 103, 0.65),
        rgba(238, 67, 103, 0.65)
      ),
      url(../images/2.jpeg);
    background-size: cover;
    background-position: -20px;
    background-repeat: no-repeat;

    .image-title2 {
      margin: 0 auto;
      padding-left: 5px;
      position: absolute;
      bottom: 0;

      .num2 {
        font-family: gillsans-reg;
        font-size: 300px;
        text-transform: uppercase;
        color: #ee4367;
        line-height: 0;
        margin-right: 0px;
      }

      .dot2 {
        font-family: gillsans-reg;
        font-size: 300px;
        color: #ee4367;
        line-height: 0;
        margin-right: 40px;
      }

      .text2 {
        margin-left: 0px;
        font-family: gillsans-reg;
        font-size: 140px;
        color: #ee4367;
        line-height: 0;
      }
    }
  }

  .paragraphs {
    margin: 0 auto;
    max-width: 980px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .col {
      max-width: 450px;
      flex: 1;
      font-family: gillsans-light-italic;
      font-size: 16px;
      color: #000;
    }
  }
}

@media (max-width: 950px) {
  .wrapper2 {
    .image2 {
      .image-title2 {
        .num2 {
          font-size: 150px;
        }
        .dot2 {
          font-size: 150px;
        }
        .text2 {
          font-size: 70px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .wrapper2 {
    .paragraphs {
      .col {
        padding: 10px;
      }
    }
  }
}
